OPENAI_API_KEY=
GEMINI_API_KEY=
GROQ_API_KEY=
ANTHROPIC_API_KEY=
OPENROUTER_API_KEY=

OPENAI_MODEL=gpt-5
GEMINI_MODEL=gemini-2.5-flash
GROQ_MODEL=llama-3.3-70b-versatile
ANTHROPIC_MODEL=claude-sonnet-4-20250514
OPENROUTER_MODEL=openai/gpt-4o-mini

PORT=3000
